<div class="well well-lg"
     style="vertical-align: middle; background-color: olivedrab; border-color: #2a6496;">
    <div class="row">
        <div class="col-sm-12" style="vertical-align: middle">
            <div class="h1 greenColor" style="margin-top: 0">
                <!--<img src="http://icons.iconarchive.com/icons/tristan-edwards/sevenesque/32/Messages-icon.png"/>-->
                <img src="http://icons.iconarchive.com/icons/seanau/kungfu-panda/72/Squirrel-icon.png"/>
                <div style="font-family:Calibri; color: #dbdbdb;">
                    <div> Greetings, eager adopter! </div>
            </div>
        </div>

        <div class="col-sm-6 text-left" >
        </div>
    </div>
</div>
</div>